<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/member/join" method="post">
    <label>아이디 :
        <input type="text" name="memberId" value=""/>
    </label><br/>
    <label>이메일 :
        <input type="email" name="memberEmail" value=""/>
    </label> <br/>
    <label>비밀번호 :
        <input type="password" name="memberPassword" value=""/>
    </label> <br/>
    <!--  비밀번호확인 : <input type="password" value=""/> <br/>-->
    <label>이름 :
        <input type="text" name="memberName" value=""/>
    </label> <br/>
    <input type="submit" value="회원가입">
</form>
</body>
</html>